body{
    font-family: 'Doppio One', sans-serif;
    margin: 0;
}

/* HEADER */
.header{
    width: 100%;
    position: absolute;
    z-index: 1000;
}
.header_inner{
    display: flex;
    justify-content: space-between;

}
.header_logo{
    color: white;
    font-size: 30px;
    padding: 50px;
}
.nav{
    padding: 60px;
}
.nav_link{
    font-size: 18px;
    margin-left: 50px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;
}
.nav_link:hover{
    border: 2px solid #4d524c;
}


/* INTRO */
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url('../img/main.png') center no-repeat;
    background-size: cover;
}
.intro_inner{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}
.intro_title{
    color: white;
    font-size: 110px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
}
.intro_suptitle{
    margin-top: 30px;
    color: rgb(243, 242, 242);
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    /* letter-spacing: 10px; */
}
.intro_suptitle::after{
    content: '';
    display: block;
    width: 70px;
    height: 5px;
    margin: 0 auto;
    background-color:rgb(243, 242, 242);
    margin-top: 30px;
}


/* MAIN */
.main{
    width: 100%;
    height: 75vh;
    z-index: 1000;
    /* position: absolute; */
    background: #f4f6f3
}
.main_title{
    padding-top: 50px;
    color: #4d524c;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}
.main_title::after{
    content: '';
    display: block;
    width: 70px;
    height: 3px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #4d524c;

}
.main_container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    }
.tabPic{
    width: 300px;
    height: 400px;
    margin: 20px;
    transition: 0.2s linear;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.tabPic img{
    width: 300px;
    height: 200px;
}
.tabPic:hover {
    box-shadow: 0 20px 30px rgba(0,0,0,0.25), 0 20px 20px rgba(0,0,0,0.22);
    cursor: pointer;
}
.tabPic.active{
    box-shadow: 0 20px 30px rgba(85, 139, 114, 0.25), 0 20px 20px rgba(0,0,0,0.22);
    cursor: pointer;
}
.main_container p{
    color: #4d524c;
    text-align: center;
    padding: 10px;
    font-size: 40px;
    text-transform: uppercase;
}


/* TABTEXT */
.tabText{
    width: 100%;
    height: 33vh;
    background: #6e746d;
}
.infa{
    margin: 0 auto;
    padding: 30px 420px;
    display: none;
}
.tabText .infa h1{
    margin-bottom: 10px;
    display: inline;
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
}
.tabText .infa span{
    color: white;
    font-size: 23px;
    letter-spacing: 3px;
    float: right;
}
.infa.active{
    display: block;
}


/* MORTAGE */
.mortage{
    width: 100%;
    height: 45vh;
    background-color: white;
    padding: 50px 0;
}
.mortage .calc{
    width: 45%;
    margin: 0 auto;
}
.calc p{
    color: #4d524c;
    font-size: 20px;
    line-height: 50px;
    letter-spacing: 1px;
}
.calc span{
    color: #4d524c;
    font-size: 20px;
    line-height: 50px;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
}
.calc input{
    width: 10%;
    float: right;
    padding:10px;        
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.calc button {
    color: #232323;
    background: transparent;
    border: 1px solid #232323;
    position: relative;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .3em;
    padding: 20px 20px 10px 20px;
    cursor: pointer;
    margin: 15px auto;

}


